html {
  background-color: #4e0000;
}

body {
  max-width: 320px;
  margin: auto;
  background: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  background-color: #000000;
  margin: auto;
  padding: 15px 100px;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

header h3 {
  font-size: 16px;
  margin: 10px 0;
}

.under-title {
  color: #000000;
  font-size: 12px;
  margin: 10px 0;
  text-align: center;
}

.press-articles {
  display: flex;
  margin: 25px 0;
  padding: 0 10px;
}

.interior-article {
  display: flex;
  flex-direction: column;
  margin: 0 7px;
  padding: 0 2px;
}

h4 {
  color: #e52421;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}

.interior-article h4 {
  margin: 5px 0;
}

p {
  font-family: 'Crismon Pro', serif;
}

.interior-article p {
  font-size: 12px;
  margin: 0;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}

main h3 {
  text-transform: uppercase;
}
